_bmad/
.agents/
.claude/
.gemini/
.venv/
steps.md
_bmad-output/
.github/
.env
server/.env


.env
server/.env
server/.go
server/.go-cache

*.pyc
__pycache__/
*.egg-info/
agent/build/
agent/.langgraph_api/