# Kafka Configuration
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC=orders
KAFKA_DLQ_TOPIC=orders-dlq
KAFKA_CONSUMER_GROUP=nexus-server-group

# Redis Configuration
REDIS_ADDR=localhost:6379
REDIS_PASSWORD=nexus_pass

# Postgres Configuration
POSTGRES_DSN=postgres://nexus_user:nexus_pass@localhost:5432/nexus_db?sslmode=disable

# Consul Configuration
CONSUL_ADDR=localhost:8500
SERVICE_NAME=nexus-server
SERVICE_PORT=8080

# OpenTelemetry Configuration
OTEL_EXPORTER_OTLP_ENDPOINT=localhost:4317
OTEL_SERVICE_NAME=nexus-server

# Webhook Configuration
WEBHOOK_URL=http://localhost:9090/webhook
WEBHOOK_WORKERS=2
WEBHOOK_RETRY_MAX=3

# Server Settings
LUA_SCRIPT_PATH=./scripts/lua/check_and_set_seq.lua
